<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>All notes</h1>

    <table class="table table-striped table-hover" id="notes">
      <thead>
        <tr>
          <th>Title</th>
          <th>Length</th>
          <th class="sort-desc">Last updated</th>
        </tr>
      </thead>

      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= link_to note.title, note %></td>
            <td><%= link_to note.content.split.size.to_s + ' words', note %></td>
            <td>
              <%= link_to note do %>
                <%= note.updated_at.in_time_zone.strftime("%a %b %e, %Y, %I:%M %p") %>
                <i class='glyphicon glyphicon-eye-open'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>