.logo {
  background: #1abc9c;
  color: #fff;
  font-weight: bold;
  font-size: 1.6em;
  position: absolute;
  top: -10px;
  padding: 20px 20px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
  &:hover {
    cursor: pointer;
    background: #16a085;
    color: #fff;
    text-decoration: none;
  }
}

.notice {
  float: left;
  margin-top: 15px;
  margin-left: 160px;
  color: #468847;
  font-size: 1.2em;
}

.navlink {
  float: right;
  margin-top: 15px;
  font-size: 1.2em;
  &:hover {
    .plus {
      background: #16a085;
    }
  }
}

.plus {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #1abc9c;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  float: left;
  margin-top: 2.5px;
  margin-right: 10px;
}

.footer {
  color: #ccc;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}